 <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Selección de Ubicación
          </mat-card-title>

          <mat-card-subtitle>
            Encuentra comunidades autónomas, provincias y municipios de España
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="myForm" class="row">
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Comunidad Autónoma</mat-label>
                <mat-select formControlName="autonomousCommunity" (selectionChange)="onCommunitySelected($event)">
                  <mat-option [value]="">Selecciona comunidad</mat-option>
                  <mat-option *ngFor="let community of autonomousCommunities" [value]="community">
                    {{ community.acom_name }}
                  </mat-option>
                </mat-select>
                <mat-hint>Selecciona primero una comunidad</mat-hint>
              </mat-form-field>
            </div>

            <div class="col-md-4 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="province" (selectionChange)="onProvinceSelected($event)" [disabled]="!myForm.get('autonomousCommunity')?.value">
                  <mat-option [value]="">Selecciona provincia</mat-option>
                  <mat-option *ngFor="let province of provinces" [value]="province">
                    {{ province.prov_name }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="provinces.length === 0 && myForm.get('autonomousCommunity')?.value">Cargando provincias...</mat-hint>
                <mat-hint *ngIf="!myForm.get('autonomousCommunity')?.value">Selecciona una provincia</mat-hint>
              </mat-form-field>
            </div>

            <div class="col-md-4 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Municipio</mat-label>
                <mat-select formControlName="town" (selectionChange)="onTownSelected($event)" [disabled]="!myForm.get('province')?.value">
                  <mat-option [value]="">Selecciona municipio</mat-option>
                  <mat-option *ngFor="let town of towns" [value]="town">
                    {{ town.mun_name }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="towns.length === 0 && myForm.get('province')?.value">Cargando municipios...</mat-hint>
                <mat-hint *ngIf="!myForm.get('province')?.value">Selecciona el municipio</mat-hint>
              </mat-form-field>
            </div>
          </form>

          <div *ngIf="loadingLocation" class="text-center mt-3">
            <mat-spinner diameter="30" class="mx-auto"></mat-spinner>
            <p class="mt-2">Buscando la ubicación más cercana a las coordenadas seleccionadas...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
